/*
  栏目管理
*/
.f-column-btns {
  position: absolute; top: 0; right: 0;
  .setting-comment {
    line-height: 23px;
    display: inline-block;
    .link-brand, .icon-o-setting {
      display: inline-block; vertical-align: middle;
    }
    .icon-o-setting {
      cursor: pointer; margin-left: 5px;
    }
  }
}

.column-grid{
  @extend %grid;
  @extend %grid-width-san;
  thead th:nth-last-of-type(1){
    width:200px;
  }
  font-family: $font-family-base;
  tbody tr td{
    padding:0;
  }
  tbody tr:hover{
    background-color:rgba(0,0,0,0);
  }
  tbody th{
    font-weight: normal;
  }
  tbody tr:nth-of-type(odd) .column-grid-table>tbody>tr:nth-of-type(1){
    background-color:$gray-white;
  }
  tbody tr:nth-of-type(even) .column-grid-table>tbody>tr:nth-of-type(1){
    background-color:$bg-color-odd;
  }
  tbody tr .column-grid-table>tbody>tr:nth-of-type(2) tr:nth-of-type(odd){
    background-color:#e4ecfa;
  }
  tbody tr .column-grid-table>tbody>tr:nth-of-type(2) tr:nth-of-type(even){
    background-color:#f2f7ff;
  }
  td.right a{
    margin:0 5px;
  }
  strong{
    color:#67b2e4;
  }
  th{
    color:$gray-darker; font-size:14px;
  }
  td{
    color:$gray; font-size:14px;
  }
  td:nth-last-of-type(3){
    color:$gray; font-size:12px;
  }
}
.column-grid-table{
  width:100%;height:auto;
  tbody tr:nth-of-type(1) td{
    padding:8px 0;text-align:center;
  }
  tbody tr:nth-of-type(1) td.right{
    padding:0 20px 0 0;text-align:right;
  }
  tbody tr:nth-of-type(1) th{
    padding:8px 20px;
  }
  td{
    padding:0px;
  }
  @extend %grid-width-santd;
  tr td:nth-last-of-type(1){
    width:200px;
  }
  table tr td{
    padding:8px 0;
    text-align:center;
  }
  table tr td.right{
    padding:0 20px 0 0;text-align:right;
  }
  table{
    width:100%;
    @extend %grid-width-santd;
  }
  tbody tr:nth-of-type(2) tr th{
    padding:8px 5px 8px 50px;
  }
}

//创建文章的样式
.g-creatArticle-box{
  width:705px;height:auto;padding:10px 20px;
  .f-error{
    margin-bottom:5px;
  }
}
.u-column-error{

}