.g-temp-colors{
  //temp00
  .u-temp01-blue{
    border-color:#1584b7 !important;
  }
  .u-temp01-lightblue{
    border-color:#009ae8 !important;
  }
  //temp01
  .u-temp01-purple{
    border-color:#c882a6 !important;
  }
  .u-temp01-brown{
    border-color:#b7cb73 !important;
  }
  .u-temp01-green{
    border-color:#44b460 !important;
  }
  .u-temp01-red{
    border-color:#f89380 !important;
  }
  .u-temp01-yellow{
    border-color:#fdd621 !important;
  }
  .u-temp01-deepblue{
    border-color:#307ae8 !important;
  }
  .u-temp01-deepgreen{
    border-color:#00a8b8 !important;
  }
  .u-temp01-lightgreen{
    border-color:#23b500 !important;
  }
  .u-temp01-orange {
    border-color: #ff6600 !important;
  }

  .u-temp01-default{
    border-color:#000 !important;
  }

}

