/*
  提示弹窗的样式
*/
.u-alert-tips{
  width:100%;height:auto;padding:20px 0;overflow:hidden;font-size:18px;color:$gray-darker;text-align:center;
  & span{
    width:45px;height:45px;display: inline-block;margin-right:10px;margin-top: -3px;
    @extend %gridicons;
  }
  & strong{
    color:$brand-info;
  }
  &.u-scess span{
    background-position:0 -560px;
  }
  &.u-error span{
    background-position:0 -610px;
  }
  &.u-reset span{
    background-position:0 -660px;
  }
}
/*
  修改栏目名称的弹窗
*/
.f-column-edit{
  width:100%;height:auto;padding:20px 50px;font-size:14px;color:$gray-darker;

  & .form-group{
    width:100%;
    position:relative;
    @include hezi;
  }
  & label{
    min-width:60px;
    display:block;
    margin-right:10px;
    text-align:right;
  }
  & input,& .selects{
    display:block;
    border-radius:0px;
    @extend %flex;
  }
  & .form-group>span{
    position:absolute;top:5px;right:8px;font-size:12px;color:$error;display:none;
  }
  & input.error{
    border-color:$error;box-shadow:0 1px 1px rgba(255,0,0,.075);
    & +span{
      display:block;
    }
  }
  & .selects .btn-group{
    width:100%;
    & button:nth-of-type(1){
      width:100%;padding:4px 30px 4px 10px;text-align:left;
    }
    & button:nth-of-type(2){
      width:26px;position:absolute;right:0px;top:0px;z-index:2;
    }
  }
  & .u-column-error{
    width:100%;height:auto;float:left;margin:-15px 0 10px 0;padding:0 0 0 75px;font-size:14px;line-height:20px;color:$brand-danger;overflow:hidden;
  }
  & .selects-md {
    .btn-group-reset {
      width: 62%;
    }
    .new-selectOption {
      width: 36%; display: inline-block; line-height: 28px;
      a {
        color: $brand-primary-darker; display: inline-block; margin-left: 10px;
        &:hover {
          text-decoration: underline;
        }
      }
      .glyphicon {
        color: $brand-btn-default;
        &:hover {
          color: $brand-btn-hover; text-decoration: none;
        }
      }
    }
  }
}