.m-crumbs-file {
  height: 32px;
  line-height: 32px;

  font-size: 14px;

  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  a {
    width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;

    &.active {
      color: #009caf;
      cursor: pointer;
    }
    &.back{
      margin-left: 14px;
    }
  }
  span {
    display: inline-block;
    margin: 0 4px;
    width: 8px;
    height: 9px;
    background: url(../images/icons.png) no-repeat -40px 0;
  }
}