//标签页
.nav-tabs-simple {
  border-bottom-width: 1px; font-size: 14px;
  li {
    margin-bottom: 4px;
    & + li {
      border-left: 1px solid $gray-darker;
    }
    > a {
      margin: 0 4px;
      padding: 4px 8px;
      line-height: 1.1;
      color: $brand-primary-light;
      border: 0;
    }
    &.active {
      > a, > a:focus, > a:hover {
        border: 0;
      }
    }
  }
}