/* margin */
.u-mt3 {margin-top: 3px;}
.u-mt5 {margin-top: 5px;}
.u-mt8 {margin-top: 8px;}
.u-mt10 {margin-top: 10px;}
.u-mt15 {margin-top: 15px;}
.u-mt20 {margin-top: 20px;}

.u-mr10 {margin-right: 10px;}
.u-mr15 {margin-right: 15px;}

.u-mt0 {margin-bottom: 0;}
.u-mb5 {margin-bottom: 5px;}
.u-mb10 {margin-bottom: 10px;}
.u-mb20 {margin-bottom: 20px;}

.u-ml3 {margin-left: 3px;}
.u-ml10 {margin-left: 10px;}
.u-ml34 {margin-left: 34px;}
.u-ml50 {margin-left: 50px;}
.u-ml60 {margin-left: 60px;}

.u-mlr10 {margin-left: 10px; margin-right: 10px;}

/* padding */
.u-pt20 {padding-top: 20px;}