// compass 精灵图片
@import "compass/utilities/sprites";
@import "icon/*.png";

.sprite-base{
  display:inline-block;
  vertical-align: middle;
  &:focus{
    outline:none;
  }
}
@include all-icon-sprites;
