//
// Variables
// --------------------------------------------------


// Colors
//
// 微信的灰色、主色调及配色、背景色
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 20%) !default; // #333
$gray-dark:              lighten($gray-base, 40%) !default;   // #666
$gray:                    lighten($gray-base, 60%) !default;  // #999
$gray-light:             lighten($gray-base, 80%) !default; // #ccc
$gray-lighter:           lighten($gray-base, 87%) !default ;//ddd
$gray-white:       #ffffff;

$bg-color:           lighten($gray-base, 91%) !default;// #e8e8e8
$bg-color-light:          lighten($gray-base, 95%) !default;// #f2f2f2
$bg-color-bootstrap : #f5f5f5;
$bg-color-odd : #f6f8fc;
$error : #f87b7b;

//$brand-primary-lighter:#addaf8 !default; //蓝色减淡
//$brand-primary:         #67b2e4 !default; // 蓝色
//$brand-primary-darker: #0380d3 !default; //蓝色加深
$brand-primary-lighter: #d7f0f3 !default; //蓝色减淡
$brand-primary-light:   #53c0cd !default; //蓝色减淡
$brand-primary:         #009caf !default; // 蓝色
$brand-primary-dark:   #008494 !default; //蓝色加深
$brand-primary-darker: #0f6179 !default; //蓝色加深
$brand-success:         #5cb85c !default; //绿色
$brand-info-light:     #d7f0f3  !default; //绿色减淡
$brand-info:            #009caf !default; //主色
$brand-info-darker:    #0f6179 !default; //主色加深
$brand-info-disabled:  #8daea5 !default; //不可用
$brand-warning:         #f4ae56 !default; //橘色
$brand-danger:          #f87b7b !default; //红色

$brand-btn-default: #666;
$brand-btn-hover: #67b2e4;

// links
//
//链接默认样式
$link-color:            $gray-darker !default;
// 悬浮颜色
$link-hover-color:     $brand-primary-darker !default;
//悬浮有下划线.
$link-hover-decoration: underline !default;
//悬浮无下划线
$link-hover-decoration-none:none !default;

// 排版
//
// Font, line-height, and color for body text, headings, and more.
$font-family-En:          Arial !default;
$font-family-base:          微软雅黑 !default;

$font-size-base:          14px;
$font-size-middle:        16px;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // 18px
$font-size-ms:            13px;
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // 12px

$line-height-base:        1.428571429 !default; // 20/14
$line-height-large:       2 !default; //24/12
$line-height-computed:   floor(($font-size-base * $line-height-base)) !default; // ~20px

// 组件
//
// padding，border-radius,color
$padding-base-vertical:     3px !default;
$padding-base-horizontal:   26px !default;

$padding-sm-horizontal:   20px !default;
$padding-sm-horizontal-left: 16px !default;


$component-active-color:    #fff !default;
$component-active-bg:       $brand-info !default;

$border-radius-base:        4px !default;
$border-radius-large:       6px !default;
$border-radius-small:       3px !default;

$control-height: 27px !default;

// 按钮
//
//改写bootstrap按钮的padding、背景、颜色
$btn-default-color:              #333 !default;
$btn-default-bg:                 #fff !default;
$btn-default-border:            $gray-lighter !default;

$btn-info-color:                 #fff;
$btn-info-bg:                    #53cdb5;
$btn-info-hover-bg: #31aa89;
$btn-info-border:               none;

//r-btn-default
$r-btn-default-bg:                    #53c0cd !default;
$r-btn-default-hover-bg: #009caf !default;
$r-btn-default-border:               none !default;

// label
//
// label 颜色
$label-info-bg:          $brand-info;
$label-warning-bg:       $brand-warning;
$label-primary-bg:       $brand-primary;
$label-default-bg:       $gray;

// tooltip
//
// 改写bootstrap tooltip-show样式
$tooltip-max-width:           inherit !default;
$tooltip-color:                $gray !default;
$tooltip-bg:                   #eee !default;
$tooltip-arrow-width:         6px !default;
$tooltip-arrow-color:         $tooltip-bg !default;

// panel
//
// 改写bootstrap面板（default）样式
$panel-body-padding:          10px !default;
$panel-heading-padding:      10px !default;
$panel-border-radius:         0 !default;

// tag-tab
//
// tag-tab标签样式
$tag-tab-padding:                 3px 10px 4px !default;
$tag-border-radius:               4px !default;
$tag-tab-margin:                  5px !default;
$tag-tab-primary-bg:              $brand-primary-lighter !default;

//border
//
//边框颜色
$border-color : #dedede;
$bg-yinpin : #cfe9e2;

// gird list
//
// 表格
$list-min-height:              400px; //数据列表最小高度
$list-min-height-base:        500px;
$list-min-height-large:       600px;


//== Grid system
//
// 栅格布局

$grid-columns:              12 !default;
$grid-gutter-width:         10px !default;

$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;


// triangle
//
// 三角形
$bgColor: #fff;  //内嵌三角颜色
$color:#999 ;  //三角颜色
$borderColor:#f36;  //边框颜色
$unit:10px;  //三角大小

//ul背景色
$active : $brand-primary-light;
$visited : $brand-primary;
$white : #ffffff;

// link
//
// Global textual link color.
$link-color:            $brand-primary-darker !default;
$link-decoration:      none !default;
$link-hover-color:      darken($link-color, 10%) !default;
$link-hover-decoration: underline !default;

// sprite
//
// 精灵图片
$icon-sprite-base-class:".sprite-base" !default;
$icon-sprite-dimensions: true;
