.m-btn-green{
  height:30px;padding:0 10px;
  border:1px solid $green;border-radius: 5px;
  font-size: 12px;
  color: $green;
  background-color: $white;
  &:hover{
    color: $white;
    background-color: $green;
  }
}
.g-main-form{
  width:100%;
  height:auto;
  margin-bottom: 20px;
}
.g-form-left{
  float:left;
  width:50%;
  .g-dropdown-list{
    float:left;
  }
  .g-search{
    float:left;
  }
}
.g-form-right{
  float: right;
}