$white:#ffffff;
$red: #ED5565;
$bg01:#c5cede;
$bg02:#fafafa;
$bg03:#f7f7f7;
$bg04:#f8ac5a;
$bg05:#ed5666;
$bg06:#538cff;
$bg07:#b3bed2;
$bg08:#f8565e;
$bg09:#fb9f00;
$bg10:#00d361;
$bg11:#25beae;
$bor01:#cbcbcb;
$bor02:#e7eaec;
$bor03:#dadada;
$bor04:#e5e6e7;
$bor05:#dddddd;
$bor06:#f3f3f4;
$bor11: #e8e8e8;
$bor12: #e5e6e7;
$bor13: #f8ac59;
$bor14: #e7eaec;
$green:#1ab394;
$green01: #2c8f7b;
$green02: #70d1bd;
$font01:#7f7f7f;
$font02:#666666;
$font03:#999999;
$font04: #ababab;
$font05: #a7b1c2;
$font06: #676a6c;
$gray11:#666666;
$gray12:#cccccc;
$gray13:#eaeaea;






