/*** bootstrap控件 ***/
/* tab tab-btns */
.nav-tabs{border-bottom: #009caf 2px solid;}
.nav-btns > li > a{padding: 7px 24px; font-weight: bold; color: #666; background-color: #e7e7e7; border: 1px solid #d9d9d9; border-bottom: none; margin-right: 5px; font-size: 14px;}
.nav-btns > li > a:hover{border-color: #e7e7e7; background-color: #fff;}
.nav-btns > li > a.disabled{color: #ccc; cursor: not-allowed;}
.nav-btns > li > a.disabled:hover{background-color: #e7e7e7; border-color: #d9d9d9;}
.nav-btns > li.active > a, .nav-btns > li.active > a:focus{background-color: #53c0cd; color: #fff; border-color: #3ab1bf; cursor: pointer;}
.nav-btns > li.active > a:hover{background-color: #009caf; border-color: #009caf; color: #fff;}
.tab-body{padding: 0px; border-top: none; min-height: 420px; position: relative;}
@media screen and (min-width: 1366px){.metrial-list{min-height: 260px;}}
@media screen and (min-width: 1440px){.metrial-list{min-height: 380px;}}
@media screen and (min-width: 1920px){.metrial-list{min-height: 480px;}}
/* 表单控件 */
/* 查询 */
.form-search{width: 238px;}
.form-search .form-control{border-radius: 0; padding-top: 2px; padding-bottom: 2px; padding-right: 35px; height: 28px; line-height: 20px; background-color: #fff;}
.form-search .form-control-feedback{height: 27px; line-height: 27px; font-size: 14px; cursor: pointer; z-index: 1000; pointer-events: auto; color: #999;}
.form-search .form-control-feedback:hover{text-decoration: none; color: #999;}
.search-sm{width: 180px;}
textarea.form-control{resize: none;}
/* 按钮 */
.btn{height: 27px; padding: 4px 12px; box-shadow: none; outline: none !important; position: relative; display: inline-block; line-height: 17px;}
.btn-info, .btn-info.focus, .btn-info:focus, .btn-info.active, .btn-info:active, .btn-info.active.focus, .btn-info.active:focus, .btn-info:active.focus, .btn-info:active:focus{color: #fff; background-color: #53c0cd; border-color: #53c0cd}
.btn-info:hover, .btn-info.active:hover, .btn-info:active:hover{background-color: #31aa89; border-color: #31aa89;}
/* dropdown */
.dropdown-info .btn{padding: 4px 20px 4px 18px; color: #fff; background-color: #53cdb5;}
.dropdown-info .btn:hover{background-color: #31aa88;}
.dropdown-info .caret{margin-left: 5px;}
.dropdown-info .icons{margin-right: 5px;}
.dropdown-info .btn:active{box-shadow: none; border-color: #53cdb5;}
.dropdown-info .dropdown-menu{background-color: #53cdb5; min-width: 100%; margin-top: 0;}
.dropdown-info .dropdown-menu a{color: #fff;}
.dropdown-info .dropdown-menu a:hover{background-color: #31aa89; color: #fff;}
/* 面包屑 */
.m-crumbs{width: 100%; height: 42px; box-sizing: border-box; font-size: 12px; color: #333333; line-height: 42px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.m-crumbs a{color: #0380d3; text-decoration: none;}
.m-crumbs a:hover, .m-crumbs a:focus{color: #0380d3; text-decoration: underline;}
.m-crumbs span{display: inline-block; margin: 0 4px; width: 8px; height: 9px; background: url("../images/icons.png") no-repeat -40px 0;}
/* 数据为空 */
.date-null{text-align: center; font-size: 22px; color: #999; width: 100%; position: absolute; top: 50%; left: 0; margin-top: -25px;}
.date-null .icon-date-null{margin-right: 10px;}
.icon-date-null{display: inline-block; width: 40px; height: 45px; background: url("../images/data-null.png") no-repeat; vertical-align: middle; margin-right: 0; margin-left: 0;}
/* 发送预览弹框 */
.sendreview-box{min-height: 100px;}
.u-alert-center{width:60%;margin: 25px auto 0;}

/* 添加素材表单 */
.tag{border:1px solid #ccc;padding:2px 9px;font-size:12px;cursor:pointer;color:#000;font-weight: normal;margin-right:6px;}
.tag:hover{border-color:#56ceb6;}
.tag.active{border-color:#56ceb6;background:url(../images/icon_tag_active.gif) no-repeat bottom right;}
.links{line-height:28px;color:#2295e2;}
.links:hover,.links:focus{color:#2295e2;}
.links:hover{text-decoration: underline;}
.links:focus{text-decoration: none;}
.links .icon-link-add{vertical-align:middle;margin-right:3px;}
.collapse-form{border:1px dashed #ddd;background:#fafafa;padding:12px 15px;}
.material-review{margin-top:10px;overflow:hidden;position:relative;}
.material-review img,.material-review video,.material-review audio{display:inline-block; width:288px;border:1px solid #ddd;padding:2px;}
.material-review .links{display:inline-block;margin-left:5px;vertical-align:bottom;}

/* 下载资料 */
.underline{text-decoration: underline;}
.links:focus{text-decoration: underline;}
.links .icon-link-up{vertical-align:middle;margin-right:3px;}

/* 图标 */
.icons{display:inline-block;width:14px;height:16px;vertical-align:middle;background:url(../images/icons.png) no-repeat;vertical-align:middle;}
/* 鼠标悬浮变色 */
.icon-filed{background-position:0 -280px;}
.icon-filed:hover{background-position:0 -360px;}
.icon-download{background-position:0 -340px;}
.icon-download:hover{background-position:0 -380px;}
/* 单色图标 */
.icon-add{background-position:0 -20px;}
.dropdown-menu .icon-graphic{background-position:0 -40px;}
.dropdown-menu .icon-audio{background-position:0 -60px;}
.dropdown-menu .icon-video{background-position:0 -80px;}
.dropdown-menu .icon-picture{background-position:0 -100px;}
.icon-video-big{width:50px;height:50px;background-position:0 -500px;position:absolute;top:50%;margin-top:-25px;left:50%;margin-left:-25px;}
.icon-link-add{background-position:-20px 0;}
.icon-link-up{background-position:-3px -1848px;}
.icon-add-md{width:16px;height:16px;background-position:-20px -20px;}
.icon-add-md:hover{background-position:-40px -710px;}
.icon-wechat-b{width: 20px;background-position: 0 -160px;}
.icon-shared-b{width: 20px;background-position: 0 -300px;}
/* 状态变色 */
.icon-dot{width:5px;height:6px;background-position:-47px -40px;}
.icon-add-gray{background-position:-20px -40px;}
.icon-add-gray:hover{background-position:-20px -200px;}
.setting-heading .icon-graphic,.setting-heading .icon-audio,.setting-heading .icon-url{width:20px;height:20px;}
.icon-graphic{background-position:-20px -60px;}
.active.icon-graphic{background-position:-40px -60px;}
.icon-audio{background-position:-20px -80px;}
.active.icon-audio{background-position:-40px -80px;}
.icon-url{background-position:-20px -100px;}
.active.icon-url{background-position:-40px -100px;}

/* 上传文件表单 */
.forms{margin-bottom: 15px;}
.form-control{/*border-color:#ddd;box-shadow:none;*/ border-radius: 0; height: 28px; padding: 4px 8px; color: #333; font-size: 13px;}
.form-control:focus{border-color: #ccc; box-shadow: 0 0 8px #ccc;}
.forms textarea.form-control{height: auto;}
/* 上传控件 */
.forms .btn-file{position: relative; margin-right: 5px;}
.forms .btn-file input[type='file']{position: absolute; left: 0; top: 0; opacity: 0; width: 100%; height: 100%;}
.btn + .btn, .glyphicon-refresh + .btn{margin-left: 10px;}
.u-creat-pr{position: relative;}
.u-creat-span{position: absolute; right: 10px; bottom: 5px; color: #8d8d8d;}
.u-creat-right-textarea{height: 90px !important;}
/*创建素材的样式*/
.u-creat-box{width: 1058px; overflow: hidden;}
.m-creat-left{width: 320px; height: auto; float: left;}
.m-creat-right{width: 692px; height: auto; float: left; position: relative; left: 0; margin: 0 0 0 22px;}
.f-creat-left-top{width: 320px; min-height: 266px; height: auto; border: 1px solid #e7e7eb; box-sizing: border-box; overflow: hidden; padding: 0 0 20px 0;}
.g-creat-left-img{width: 100%; min-height: 160px; float: left; position: relative; background-color: #ececec;}
.f-creat-fmEdit{width: 100%; height: 160px; position: absolute; top: 0; left: 0; background-color: rgba(204, 204, 204, 0.6); z-index: 5; text-align: center; line-height: 160px; display: none;}
.f-creat-fmEdit span{font-size: 20px; color: #555555; cursor: pointer;}
.f-creat-fmEdit span:hover{color: #0380d3;}
.g-creat-left-img:hover .f-creat-fmEdit{display: block;}
.u-creat-left-bg{width: 100%; height: 100%; float: left; text-align: center; line-height: 160px; color: #c0c0c0;}
.u-creat-left-tit{width: 100%; height: auto; min-height: 28px; position: absolute; left: 0; bottom: 0; padding: 0 15px; box-sizing: border-box; background-color: rgba(0, 0, 0, 0.8); z-index: 3; color: #ffffff; line-height: 28px; word-break: break-all;}
.m-creat-addSlt{width: 100%; min-height: 100px; height: auto; float: left; position: relative; padding: 15px 10px; border-bottom: 1px solid #e7e7eb; overflow: hidden;}
.u-creat-addTit{width: 180px; height: 100px; float: left; overflow: hidden; font-size: 14px; color: #555555; line-height: 24px; word-break: break-all;}
.u-creat-addImg{width: 100px; height: 100px; float: right; margin: 0; background-color: #ececec; text-align: center; line-height: 100px; color: #cccccc;}
.u-creat-left-bg img, .u-creat-addImg img{width: 100%;}
.f-creat-addBox{width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-color: rgba(204, 204, 204, 0.6); z-index: 3; text-align: center; line-height: 130px; display: none;}
.f-creat-addBox span{margin: 0 5px; cursor: pointer; color: #555555}
.f-creat-addBox span:hover{color: #0380d3;}
.m-creat-addSlt:hover .f-creat-addBox{display: block;}
.u-left-add-btn{width: 290px; height: 64px; float: left; margin: 20px 0 0 14px; border: 1px dashed #d9dadc; font-size: 24px; text-align: center; line-height: 64px;}
.u-left-add-btn span{color: #cccccc; cursor: pointer;}
.u-creat-left-btn{width: 100%; height: auto; margin: 15px 0 0 0;}
.u-creat-label{font-size: 14px; font-weight: bold; color: #555555;}
.u-creat-label span{font-size: 12px; font-weight: normal; color: #999999;}
.u-creat-input{border-radius: 0;}
.u-creat-PadR{padding-right: 50px !important;}
.f-creat-right-top{width: 100%; height: auto; float: left; position: relative; background-color: #f4f5f9; border: 1px solid #e7e7eb; padding: 15px 20px; box-sizing: border-box;}
.f-creat-right-top::before{width: 15px; height: 15px; content: ""; position: absolute; left: -8px; top: 45px; display: block; background-color: #f4f5f9; border-left: 1px solid #e7e7eb; border-bottom: 1px solid #e7e7eb; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); transform: rotate(45deg);}
.u-creat-right-tit{width: 100%; height: auto; font-size: 14px; font-weight: bold; color: #999999; margin: 0 0 5px 0; overflow: hidden;}
.u-bg01{background: url("../images/icons.png") no-repeat -40px -200px; padding-left: 22px;}
.u-bg02{background: url("../images/icons.png") no-repeat -40px -220px; padding-left: 22px;}
.u-creat-right-tit span{font-size: 12px; color: #999999;}
.u-creat-label01{font-size: 14px; color: #555555;}
.u-creat-label01 small{float: right; color: #999; line-height: 20px;}
.u-creat-pr{position: relative;}
.u-creat-span{position: absolute; right: 10px; bottom: 5px; color: #8d8d8d;}
.form-file{width: 100%; height: 100%; position: absolute; top: 0; left: 0; opacity: 0;}
.u-creat-right-textarea{border-radius: 0; height: auto; padding-bottom: 60px; height: 90px !important;}
.u-creat-right-tit01{width: 100%; height: auto; font-size: 14px; font-weight: normal; color: #555555; margin: 0 0 5px 0;}
.panel-default > .f-creat-tab{height: 32px; border-radius: 0; padding: 0 10px; border: 1px solid #dddddd; background-color: #ffffff; font-family: "Microsoft YaHei"; line-height: 32px; font-size: 14px; font-weight: bold; color: #555555;}
.panel-group .f-creat-qr{border-radius: 0;}
.u-creat-radio{display: none;}
.u-creat-label{width: 70%; height: 30px; display: block; margin: 0; font-size: 14px; line-height: 30px;}
.u-creat-radio:checked + label{background-image: url("../images/Material/radio02.png");}
.f-creat-tab-a{position: relative;}
.f-creat-tab-a a{position: absolute; top: 5px; right: 0; text-decoration: none;}
.u-creat-qb{border: 0; background-color: rgba(0, 0, 0, 0);}
.panel-default > .panel-heading + .panel-collapse > .f-creat-con{border-top: 0; padding: 0; background-color: rgba(0, 0, 0, 0);}
.f-creat-edit{width: 100%; height: auto; float: left; border: 1px solid #dddddd; margin: 0 0 4px 0;}
.f-creat-edit img{width: 100%; height: auto;}
.panel{-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
.f-creat-url{width: 100%; height: auto; float: left; border: 1px solid #dddddd; border-top: 0; margin: 0 0 15px 0; background-color: #ffffff; padding: 10px 15px; box-sizing: border-box; /*border-color:#67b2e4;*/}
.f-creat-url-top{width: 100%; height: auto; float: left;}
.u-creat-label02{width: 40px; height: 32px; float: left; display: block; font-weight: normal; line-height: 32px;}
.u-creat-input02{width: 586px; height: 32px; float: left; border-radius: 0;}
.f-creat-url-foot{width: 100%; height: auto; float: left; padding: 0 0 0 0px; box-sizing: border-box;}
.f-creat-ks{width: 100%; height: 20px; float: left; margin: 0px 0; font-size: 14px; line-height: 20px; color: #0380d3; cursor: pointer; vertical-align: top;}
.f-creat-ks img{width: 6px; height: 11px; margin: -2px 0 0 5px; transform: rotate(90deg); transition: 0.2s;}
.f-creat-ks.collapsed img{transform: rotate(0deg); margin: -3px 0 0 5px;}
.u-border-b{margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #dcdcdc;}
.u-creat-width{width: 100%;}
.f-creat-tb{width: 100%; height: auto; overflow: hidden;}
.m-creat-ul{width: 100%; height: auto; list-style-type: none; padding: 0;}
.m-creat-ul li{width: 100%; min-height: 30px; padding: 0; margin: 0; font-size: 12px; color: #333333; line-height: 30px; padding: 0 10px; box-sizing: border-box;}
.m-creat-ul .active{color: #0380d3; background-color: #f2f2f2;}
.m-creat-ul li:hover, .m-creat-ul li.hover{background-color: #f1f1f1;}
.u-creat-ul-tit{width: 355px; float: left; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.u-creat-ul-dat{width: 150px; float: left;}
.u-creat-ul-ck{width: 30px; float: left; margin: 0 0 0 30px;}
.f-creat-btn-box{width: 100%; height: auto; float: left; margin: 20px 0 15px;}
.f-error{height: auto; padding: 0; color: #f87b7b; margin-top: -12px; margin-bottom: 10px; min-height: 5px;}
.form-horizontal .f-error{padding-left: 3px;}
/*菜单弹窗的样式*/
.m-window-wrap{width: 100%; height: 100%; position: fixed; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.1); z-index: 2147483647;}
.m-window-alert{width: 850px; height: 543px; position: absolute; top: 50%; left: 50%; margin: -272px 0 0 -415px; overflow: hidden; background-color: #ffffff; border-radius: 5px;}
.m-window-header{width: 100%; height: 37px; float: left; padding: 0 10px; box-sizing: border-box; background-color: #54bfa1; line-height: 36px;}
.m-window-header span{font-size: 16px; color: #ffffff;}
.m-window-header span:nth-of-type(2){float: right; margin: 10px 0 0 0; cursor: pointer;}
.m-window-content{width: 100%; height: 460px; float: left; padding: 20px; box-sizing: border-box; position: relative; overflow: hidden;}
.m-window-top{width: 100%; height: 28px; float: left; margin: 0 0 10px 0; overflow: hidden;}
.u-window-w1{width: 360px; float: left;}
.u-window-tz{float: right;}
.u-window-tz a{color: #000000; text-decoration: none;}
.u-window-tz a:hover .glyphicon{color: #0380d3;}
.m-window-main{width: 100%; height: 380px; float: left; position: relative; overflow: auto;}
.m-window-con{width: 100%; height: auto; position: absolute; top: 0; left: 0; overflow: hidden;}
.m-window-ul{width: 100%; height: auto; list-style-type: none; overflow: hidden; margin: 0; padding: 0; min-height: 305px;}
.m-window-ul > li{width: 250px; height: auto; float: left; position: relative; margin: 0 20px 0 0; overflow: hidden;}
.m-window-ul > li:nth-of-type(3n){margin-right: 0;}
.m-window-duoTW{width: 100%; height: auto; border: 1px solid #dedede; box-sizing: border-box; overflow: hidden; padding: 5px 5px 0;}
.m-window-duoTop{width: 100%; height: auto; position: relative; padding: 4px; box-sizing: border-box; border-bottom: 1px solid #dedede; overflow: hidden;}
.u-window-img{width: 100%; height: auto; float: left; overflow: hidden;}
.u-window-img img{width: 100%; height: auto;}
.u-window-txt{width: auto; height: auto; padding: 5px 10px; box-sizing: border-box; position: absolute; left: 4px; right: 4px; bottom: 4px; z-index: 5; background-color: rgba(0, 0, 0, 0.6); font-size: 14px; color: #ffffff; line-height: 20px;}
.m-window-duo-ul{width: 100%; height: auto; overflow: hidden; list-style-type: none; margin: 0; padding: 0;}
.m-window-duo-ul li{width: 100%; height: auto; float: left; overflow: hidden; margin: 0; padding: 4px; box-sizing: border-box;}
.u-window-ul-left{width: 140px; height: auto; float: left; font-size: 14px; line-height: 20px; color: #555555; padding: 5px 0 0 0;}
.u-window-ul-right{width: 78px; height: 78px; float: right;}
.u-window-ul-right img{width: 100%; height: 100%;}
.u-window-data{height: 36px; background-color: #f3f3f3; color: #999999; font-size: 12px; line-height: 36px; padding: 0 10px; box-sizing: border-box; margin: 0 -5px;}
.u-window-cover{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: transparent;}
.u-window-data .icon-editor{margin-top: -2px;}
.u-window-active{width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 5; border: 2px solid #54bfa1; display: none;}
.u-window-active::before{width: 60px; height: 60px; content: ""; display: block; position: absolute; top: -30px; right: -30px; background-color: #54bfa1; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); transform: rotate(45deg);}
.u-window-active span{position: absolute; top: 5px; right: 5px; color: #ffffff;}
.m-window-list{width: 100%; height: auto; position: relative; margin-bottom: 15px; overflow: hidden;}
.m-window-ul li > div.active .u-window-active{display: block;}
.m-window-duoTW:hover{background-color: #e5f6ff;}
.m-window-ul .m-window-list:hover .m-window-duoTW{background-color: #e5f6ff; border-color: #acd9f3; box-shadow: 0 0 5px #acd9f3;}
.m-window-foot{width: 100%; height: 48px; float: left; background-color: #f5f5f5; padding: 0 20px; box-sizing: border-box; line-height: 48px; text-align: right; overflow: hidden;}
.f-material-bg{width: 288px; height: 100%; position: absolute; left: 0; top: 0; background-color: rgba(0, 0, 0, 0.7); border: 1px solid #ddd; box-sizing: border-box; z-index: 99999999;}
.f-material-bg img{width: 50px; height: 53px; float: left; margin: 50px 0 0 119px; border: 0; cursor: pointer;}
.material-review audio{position: absolute; top: 0; left: 0;}
/*公用弹窗的样式*/
.u-window-alert01{width: 600px; height: auto; margin: -80px 0 0 -300px;}
.u-alert-content-height{height: auto;}
.u-alert-clear-b{padding-bottom: 0; margin-bottom: 0;}
.u-alert-form-width{width: 400px; height: auto; margin: 0 0 0 80px; overflow: hidden;}
.u-alert-ws-label{width: 65px; height: 28px; color: #555555; float: left; line-height: 28px;}
.u-alert-input-width{width: 335px; float: left;}
.u-alert-ws-tip{width: 400px; margin: 0 0 0 80px; padding: 0 0 0 65px; box-sizing: border-box; font-size: 12px; color: #999999;}
.form-control{height: 28px; padding: 0px 8px; line-height: 28px;}
.m-alert-tips{width: 100%; height: auto; overflow: hidden; text-align: center;}
.m-alert-tips span{background: url("../images/icons.png") no-repeat; padding: 11px 0 11px 50px; height: 45px; font-size: 24px; display: inline-block; line-height: 24px;}
.u-alert-success span{background-position: left -560px;}
.u-alert-error span{background-position: left -610px;}
.u-alert-reset span{background-position: left -660px;}
/*上传进度条的样式*/
.f-creat-upload{width: 100%; height: 54px; border: 1px solid #e7e7eb; margin: 5px 0 0 0; padding: 0 15px; box-sizing: border-box; background-color: #ffffff; display: -webkit-box; display: -moz-box; display: box; -webkit-box-align: center; -moz-box-align: center; box-align: center;}
.f-creat-uptext{height: 54px; font-size: 14px; color: #333333; line-height: 54px; margin: 0 10px 0 0;}
.f-creat-uptext span{color: #999999;}
.f-creat-upJDT{width: 200px; height: 8px; border-radius: 5px; background-color: #e8e8e8; -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1}
.f-creat-upJDT span{display: block; height: 8px; background-color: #54bfa1; border-radius: 5px;}
/*ueditor固定高度样式*/
.edui-editor-iframeholder{height: 500px !important;}
.list-iframe-wrapper{width: 175px; height: 260px; padding: 0; overflow: hidden;}
.list-scaled-frame{width: 1000px; height: 2000px; border: 0px; left: -50px;}
.list-scaled-frame{zoom: 0.6; -moz-transform: scale(0.3); -moz-transform-origin: 0 0; -o-transform: scale(0.3); -o-transform-origin: 0 0; -webkit-transform: scale(0.3); -webkit-transform-origin: 0 0;}
@-moz-document url-prefix(){.list-scaled-frame{width: 580px;}}
.setting-iframe-wrapper{width: 240px; height: 360px; padding: 0; overflow: hidden;}
.setting-scaled-frame{width: 1000px; height: 1500px; border: 0px; left: -50px;}
.setting-scaled-frame{zoom: 0.6; -moz-transform: scale(0.39); -moz-transform-origin: 0 0; -o-transform: scale(0.4); -o-transform-origin: 0 0; -webkit-transform: scale(0.4); -webkit-transform-origin: 0 0;}
@-moz-document url-prefix(){.setting-scaled-frame{width: 615px; height: 930px;}}
.message-box .tooltip{z-index: 100;}
.dropdown-lg{display: block; width: 100%;}