<md-list>
  <md-button ng-click="ctrl.loadArticleCategoryList()">load</md-button>
  <md-list-item ng-repeat="article in ctrl.articles">
    <md-button>
      <md-icon class="avatar"></md-icon>
      {{article.title}}
    </md-button>
  </md-list-item>
  <md-content layout-gt-sm="row" layout-padding>
    <div>
      <md-input-container>
        <label>Title</label>
        <input ng-model="ctrl.article.title">
      </md-input-container>
    </div>
  </md-content>
  <label>{{ctrl.article.title}}</label>
</md-list>
