//----------------------------
//定义 @mixin Clearfix
//----------------------------
// 清除浮动
// =====================================================================
@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

%clearfix{
  @include clearfix;
}
