//单列的奇偶隔行变色
//@mixin interlace($col-num:2,$odd-color:#fff,$even-color:#F6F8FC ){
//    tr:nth-of-type(2n+1){
//      td:nth-of-type( #{$col-num}){
//        background-color: $odd-color;
//      }
//      &:hover td{
//        background-color:#def2fd ;
//      }
//    }
//    tr:nth-of-type(2n){
//      td:nth-of-type( #{$col-num}){
//        background-color: $even-color;
//      }
//      &:hover td{
//        background-color:#def2fd ;
//      }
//    }
//}
%grid{
  display: inline-block;
  min-width:100%;
  height:auto;
  min-height:$list-min-height;
  background-color: $gray-white;
  @include screen($breakpoints,middle){
    min-height:$list-min-height-base;
  }
  @include screen($breakpoints,large){
    min-height:$list-min-height-large;
  }
  padding-bottom: 70px;
  position: relative;

  thead,tfoot{
    height:38px;
    background-color:#d7f0f3;
    border-top:2px solid #d7f0f3;
  }
  thead th{
    position: relative;
    border-right:1px solid #b9c9d1;
    font-size:14px;
    color:$gray-darker;
    text-align:center;
    .down,.up{
      margin-left: 20px;
      position: absolute;top:16px;right:15px;
    }
    &.left{
      text-align: left;
    }
    &.right{
      text-align: right;
    }
    &:nth-of-type(1){
      padding:8px 20px;
    }
    &:nth-last-of-type(1){
      border-right:0px;
    }
  }
  table>thead>tr>th{
    border-bottom:0px;
  }
  tbody{
    td{
      a:hover{
        text-decoration: underline;
      }
    }
    tr.grid-hidden {
      th,td{
        color:$gray;
        a{color: $gray;}
      }
    }
    .light{
      color:$gray;
    }
    td.left{
      text-align:left;
    }
    td.right{
      text-align: right;
    }
  }
  //@include interlace(3,#fdfbe8,#fffac7);
  //@include interlace(4,#e9fdd3,#d6feab);

  tfoot{
    border-top:none;
    border-bottom:2px solid #bce1d7;
    > tr > th{
      border-top:none;
    }
    & .check{
      padding: 2px 0 0 2px;
      label{
        font-weight: bold;
      }
    }
  }
  > .pagination-box{
    position: absolute;left: 0;bottom: 0;
  }
}

@mixin hezi(){
  display:-webkit-box;display:-moz-box;display:box;-webkit-box-align: center;-moz-box-align:center;box-align:center;
}

%flex{-webkit-box-flex:1; -moz-box-flex:1;box-flex:1;}


