//----------------------------
//定义 @mixin links
//----------------------------
// $color:默认颜色
// $underline：是否有下划线
// $link-hover：鼠标悬浮颜色
// =================================================================
@mixin links($color:$link-color,$underline:$link-decoration,$link-hover:$link-hover-color,$hover-decoration:$link-hover-decoration) {
  color: $color;
  text-decoration: $underline;
  cursor: pointer;
  line-height: 22px;
  &:hover {
    color: $link-hover;
    text-decoration: $hover-decoration;
  }
  &:focus {
    color: $color;
    outline: none !important;
  }
  &.disabled {
    text-decoration: none;
  }
}

.link-brand {
  @include links($brand-primary, none, $brand-primary);
  font-size: 13px;
}

.link-brand-dark {
  @include links($brand-primary-dark, none, $brand-primary-dark);
}

.link-brand-darker {
  @include links($brand-primary-darker, none, $brand-primary-darker);
}

.link-gray {
  @include links($gray, none, $gray);
}

.links {
  @include links($gray-dark, none, $gray-dark, none);
  font-size: 13px;
}

.link-blue {
  @include links(#2295e2, none, #2295e2, none);
  font-size: 13px;
}

.link-white {
  @include links(#fff, none, #ddd, none);
}

//----------------------------
//定义 @mixin links 有图标的链接
//----------------------------
// $color:默认颜色
// $underline：是否有下划线
// $link-hover：鼠标悬浮颜色
// $border: 边框颜色  边框悬浮颜色$link-hover
// $radios: 圆角
// =================================================================
@mixin links-icon($color:$link-color,$underline:$link-decoration,$link-hover:$link-hover-color,$border:$link-border,$radios:$border-radios) {
  color: $color;
  line-height: 20px;
  border: $border;
  border-radius: $radios;
  > i {
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
  }
  //span{
  //  margin-right: 2px;
  //}
  &:hover {
    color: $link-hover;
    text-decoration: none;
    > i {
      background-image: image-url("icon-link.png");
      background-position: 0 -120px;
    }
    > .link-gray-r {
      color: $color;
    }
  }
  &:focus {
    color: $color;
  }
}



